{% extends "base.html" %}
{% block title %}
    {% if new %}
        New department
    {% else %}
        {{ department['name'] }}
    {% endif %}
{% endblock %}

{% block active %}departments{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="container-xl d-block justify-content-center">

            <div class="container-lg d-flex align-items-center" style="background: none; max-width: 100%">
                <div class="mr-auto">
                    <a href="{{ url_for('get_departments') if new
                                else url_for('departments.get_department', department_id=department['id']) }}">
                        <img class="img_button_lg" src="{{ url_for('static', filename='images/009-return.png') }}"
                             alt="">
                    </a>
                </div>

                <div class="flex-fill d-flex justify-content-center" style="margin-left: 60px">
                    <p class="text-center gray_color h1">Department</p>
                </div>

                <div class="ml-auto">
                    {{ form.submit(class="img_button_lg", type='image',
                    src= url_for('static', filename='images/006-tick.png', alt='Submit')) }}
                </div>
                <div>
                    <a href="{{ url_for('get_departments') if new
                                else url_for('departments.get_department', department_id=department['id']) }}">
                        <img class="img_button_lg" src="{{ url_for('static', filename='images/007-close.png') }}"
                             alt="">
                    </a>
                </div>
            </div>

            <div class="d-flex align_items-center" style="margin: 20px 80px">
                <p class="text-center gray_color h3">
                    {{ form.name.label(style='margin-right: 20px') }}
                    {{ form.name(placeholder='Crownlands' if new else department['name'],
                        value=prev_input['name'] if prev_input['name'] else ('' if new else department['name'])) }}
                </p>
            </div>

            {% if not new %}
                <div class="container-md d-block justify-content-center" style="margin-top: 20px">

                <p class="text-center gray_color h1" style="font-size: 46px; margin-top: 5px">Employees</p>



                {% for employee in department['employees'] %}

                    <div class="container-sm d-flex align-items-center">
                        <div class="mr-auto">
                            <a href="{{ url_for('departments.employees.get_employee',
                                department_id=department['id'], employee_id=employee['id']) }}">
                                <img class="img_button_md"
                                     src="{{ url_for('static', filename='images/008-eye.png') }}"
                                     alt="">
                            </a>
                        </div>

                        <div class="flex-grow-1" style="margin-left: 50px">
                            <p class="text-left gray_color end_with_dots h4"
                               style="max-width: 200px">
                                {{ employee['name'] }}
                            </p>
                        </div>
                        <div style="margin-right: 110px">
                            <p class="text-right gray_color h4">{{ employee['salary'] }} $</p>
                        </div>

                        <div class="ml-auto">
                            <a href="{{ url_for('departments.employees.edit_employee',
                                department_id=department['id'], employee_id=employee['id']) }}">
                                <img class="img_button_md"
                                     src="{{ url_for('static', filename='images/003-edit-text.png') }}"
                                     alt="">
                            </a>
                        </div>
                        <div>
                            <a href="{{ url_for('departments.employees.delete_employee',
                                department_id=department['id'], employee_id=employee['id']) }}">
                                <img class="img_button_md"
                                     src="{{ url_for('static', filename='images/004-trash-bin.png') }}" alt="">
                            </a>
                        </div>

                    </div>
                {% endfor %}

                <div class="container-sm new_block d-flex align-items-center justify-content-center">
                    <a class="flex-fill" style="text-decoration: none"
                       href="{{ url_for('departments.employees.add_employee', department_id=department['id']) }}">
                        <p class="text-center gray_color h3">NEW</p>
                    </a>
                </div>
            {% endif %}
            </div>
        </div>
    </form>
{% endblock %}